@font-face {
   font-family: "Noto Sans CJK KR Bold";
   src: url("fonts/Noto Sans CJK KR Bold.woff") format("woff"), url("fonts/Noto Sans CJK KR Bold.eot") format("embedded-opentype"), url("fonts/Noto Sans CJK KR Bold.otf") format("opentype");
   font-weight: bold;
   font-style: normal;
}
@font-face {
   font-family: "Bebas Neue Bold";
   src: url("fonts/BebasNeueBold.woff") format("woff"), url("fonts/BebasNeueBold.eot") format("embedded-opentype"), url("fonts/BebasNeueBold.otf") format("opentype");
   font-weight: bold;
   font-style: normal;
}
@font-face {
   font-family: "Noto Sans CJK KR Thin";
   src: url("fonts/Noto Sans CJK KR Thin.woff") format("woff"), url("fonts/Noto Sans CJK KR Thin.eot") format("embedded-opentype"), url("fonts/Noto Sans CJK KR Thin.otf") format("opentype");
   font-weight: normal;
   font-style: normal;
}
@font-face {
   font-family: "Noto Sans CJK KR Light";
   src: url("fonts/Noto Sans CJK KR Light.woff") format("woff"), url("fonts/Noto Sans CJK KR Light.eot") format("embedded-opentype"), url("fonts/Noto Sans CJK KR Light.otf") format("opentype");
   font-weight: normal;
   font-style: normal;
}